.calculator {
    width: 100%;
    max-width: 1200px;
}

.calc_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.calc_flex > * {
    flex-basis: 45%;
}
.top_left_calc > * {
    flex: 1;
}
.calc_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top_left_calc {
    display: flex;
}

.calc_heading {
    font-size: 32px;
    font-weight: 700;
}

.progress_text {
    font-size: 16px;
}

.progress_count {
    font-size: 18px;
    color: #CB11AB;
}


.bar_line {
    height: 8px;
    border-radius: 10px;
}
.progress_bar_line {
    background: #DBDBDB;
    width: 100%;
    margin-top: 10px;
}
.actual_progress {
    background: #CB11AB;
    width: 22%;
}

.step_heading {
    font-size: 18px;
    opacity: 0.6;
    max-width: 360px;
    margin-top: 0px;
}

.calc_buttons_row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.cart_variant_button {
    flex: 45%;
    border: 1px solid #CB11AB;
    background: #F2F2F2;
    border-radius: 5px;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 45%;
    justify-content: space-between;
    cursor: pointer;
}

.move_buttons_row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.move_button {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.prev {
    border-radius: 5px;
    border: 1px solid #CB11AB;
    color: #666;
}

.next {
    border-radius: 5px;
    background: linear-gradient(90deg, #CB11AB 0%, #481173 100%);
    color: #FFF;
}

.two_list_blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.two_list_blocks > ul {
    list-style-type: none;
    padding-left: 0px;
    flex: 50%;
}
.two_list_blocks > ul > li {
    max-width: 250px;
}

.pink_color {
    color: #CB11AB;
}

.one_row_input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CB11AB;
    background: #F2F2F2;
    padding: 15px 10px;
    font-size: 18px;
}

.calc_buttons_price_block_row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.calc_buttons_price_block {
    display: flex;
    flex-direction: column;
}

.sub_head_calc {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.sub_block_calc {
    display: flex;
    justify-content: space-between;
}

.sub_block_calc > ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 13px;
}

.sub_block_calc > ul {
    width: 70%;
}
.calc_buttons_price_block {
    flex: 50%;
}

.no_margin {
    margin: 0;
}
.calc_flex {
    margin-bottom: 50px;
}

.result_calc_heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.destination_block_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dest_block {
    color: white;
    border-radius: 5px;
    background: #CB11AB;
    padding: 10px 50px;
}
.background_calc_result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #AD72F8;
    background: #F2F2F2;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px; padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
    max-width: 550px;
}

.result_row {
    display: flex;
    justify-content: space-between;
    color: #0000005e;
}
.calc_heading_row {
    color: black;
}
.result_calc_border_bottom {
    border-bottom: 1px solid #AD72F8;
    padding-bottom: 10px;
}
.result_row > div {
    color: inherit;
}

@media (max-width: 600px) {
    .calc_right_part {
        flex: 100%;
    }
    .dest_block {
        padding: 10px 30px;
    }
    .background_calc_result {
        width: 90%;
    }
}