.calculator {
    width: 100%;
    max-width: 1200px;
}

.calc_flex {
    display: flex;
    gap: 20px;
}
.calc_flex > * {
    flex-basis: 50%;
}
.top_left_calc > * {
    flex: 1;
}
.calc_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top_left_calc {
    display: flex;
}

.calc_heading {
    font-size: 32px;
    font-weight: 700;
}

.progress_text {
    font-size: 16px;
}

.progress_count {
    font-size: 18px;
    color: #CB11AB;
}


.bar_line {
    height: 8px;
    border-radius: 10px;
}
.progress_bar_line {
    background: #DBDBDB;
    width: 100%;
    margin-top: 10px;
}
.actual_progress {
    background: #CB11AB;
    width: 22%;
}

.step_heading {
    font-size: 18px;
    opacity: 0.6;
    max-width: 360px;
}

.calc_buttons_row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.cart_variant_button {
    flex: 45%;
    border: 1px solid #CB11AB;
    background: #F2F2F2;
    border-radius: 5px;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 45%;
    justify-content: space-between;
    cursor: pointer;
}

.move_buttons_row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.move_button {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.prev {
    border-radius: 5px;
    border: 1px solid #CB11AB;
    color: #666;
}

.next {
    border-radius: 5px;
    background: linear-gradient(90deg, #CB11AB 0%, #481173 100%);
    color: #FFF;
}

.two_list_blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.two_list_blocks > ul {
    list-style-type: none;
    padding-left: 0px;
}
.two_list_blocks > ul > li {
    max-width: 250px;
}

.two_list_blocks > ul > li > span {
    color: #CB11AB;
}

.one_row_input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CB11AB;
    background: #F2F2F2;
    padding: 15px 10px;
    font-size: 18px;
}

.calc_buttons_price_block_row {
    display: flex;
    justify-content: space-between;
}
.calc_buttons_price_block {
    display: flex;
    flex-direction: column;
}